	html, body {
		margin: 0px;
		height: 100%;
		background-color: black;
	}

	.wrapper {
		margin-bottom: -35px;
		min-height: 80%;
		height: auto;
		background-color: white;
	}
	
	.header {
		display: flex;		
		font-family: 'Yeseva One', cursive;
		justify-content: center;
	}
	
	.search {
		display: flex;
		margin-bottom: 20px;
		justify-content: center;
	}
	
	.inputbox {
		margin: 5px;
		width: 65px;
		height: 15px;
		border-radius: 5px;
		border-color: black;
		text-align: center;
		font-family: 'Averia Serif Libre', cursive;
	}
	
	.button {
		margin: 5px;
		width: 70px;
		height: 21px;
		background-color: black;
		border-radius: 5px;
		border-color: black;
		color: white;
		font-family: 'Averia Serif Libre', cursive;
		cursor: pointer;
	}

	#root {
		height: 100%;
	}
	
	.previews {
		background-color: #eee;	
		box-shadow: inset 0 0 7px #bbb;
	}

	.footer {
		display: flex;
		position: relative;
		bottom: -55px;
		width: 100%;
		height: 40px;
		justify-content: center;
		line-height: 60%;
		font-size: 14px;
		text-align: center;
		color: #FAE9C7;
		font-family: 'Vollkorn SC', serif;
	}
	
	.NYTimg {
		position: absolute;	
		right: 50px;
		bottom:45px;
	}
	
	@media screen and (orientation: landscape) {
		
		.page {
			display: flex;
		}
		
        .container {
			float: left;
			width: 82%;
        }

        .details {
			padding: 20px;
			width: 18%;
			background-color: #FAE9C7;
		}
		
		.sidebar {
			position: sticky;
			top:20px;
			color: #2C2009;
			word-wrap: break-word;
			font-weight: bold;
			font-size: 1.2vw;
			font-family: 'Averia Serif Libre', cursive;
		}
		
		.sidebar h1 {
			font-family: 'Limelight', cursive;
		}
		
		.sidebar li {	
			color: #7a7674;
			font-size: 12px;
		}
		
		.sidebar a {	
			color: #752610;
			font-size: 15px;
		}
		
		.artCard {
			vertical-align: top;
			display: inline-block;
			margin: 10px;
			padding: 10px;
			width: 21%;
			height: 307px;
			box-shadow: 3px 3px 2px #ddd;
			background-color: white;
			cursor: pointer;
		}
		
		.artTitle {
			height: 60px;
			color: #752610;
			text-overflow: ellipsis;
			overflow: hidden;
			word-wrap: break-word;
			text-align: center;
			font-weight: bold;
			font-size: 15px;
			font-family: 'Vollkorn SC', serif;
		}
		
		.artPicture {
			height: 170px;
			width: 100%;		   
			object-fit: cover
		}
		
		.artDescription {
			font-size: 12px;
			text-overflow: ellipsis;
			overflow: hidden;
			max-height: 75px;
			text-align: center;
			word-wrap: break-word;
			font-family: 'Averia Serif Libre', cursive;
		}
	}
	
	@media screen and (orientation: portrait) {
	
		.header {	
			display: flex;
			justify-content: center;
			font-family: 'Yeseva One', cursive;
			font-size: 3vw;	
		}
	
       .details {
			position: sticky;
			display: flex;
			bottom: 1em;
			padding-left: 3%;
			padding-bottom: 3%;
			width: 97%;
			min-height: 190px;
			height: auto;
            background-color: #FAE9C7;
            color: #2C2009;
			word-wrap: break-word;
			font-size: 12px;
			line-height: 60%;
        }
		
		.sidebar {
			font-family: 'Averia Serif Libre', cursive;
		}
		
		.sidebar h1 {
			font-family: 'Limelight', cursive;
			font-size: 18px;
			line-height: 100%;
		}
		
		.sidebar p {
			width: 95%;
			line-height: 100%;
		}
		
		.sidebar li {
			color: #7a7674;
			font-size: 12px;
			line-height: 100%;
		}
		
		.sidebar a {
			color: #752610;
			font-size: 13px;
		}
		
		.artCard {
			display: inline-block;
			margin-top: 10px;
			padding-left: 3%;
			padding-top: 3%;
			width: 97%;
			height: 150px;
			box-shadow: 3px 3px 2px #ddd;
			background-color: white;
			color: #262626;	
		}
		
		.artTitle {
			padding-right: 3%;
			height: 30px;
			font-weight: bold;
			font-size: 23px;
			font-family: 'Vollkorn SC', serif;
			color: #752610;
			text-overflow: ellipsis;
			overflow: hidden;
			word-wrap: break-word;
		}
		
		.artPicture {
			height: 100px;
			width: 30%;		   
			object-fit: cover;
		}
		
		.artDescription {
			display: inline-block;
			vertical-align: top;
			margin-left: 10px;
			max-height: 100px;
			max-width: 60%;
			font-size: 15px;
			font-family: 'Averia Serif Libre', cursive;
			overflow: hidden;
			text-align: left;
			word-wrap: break-word;
		}
		
	}
